* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: spotify;
    src: url('https://open.scdn.co/fonts/CircularSpUIv3T-Book.woff2');
}

html {
    font-size: 62.5%;
    font-family: spotify;
}

/* classe de script */
.hidden {
    display: none;
}

header {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 13vh;
    gap: 25rem;
}

.header-logo {
    width: 18rem;
}

.header-menu {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.header-menu-items,
.header-menu-profile {
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    transition: 0.2s;
}

.header-menu-items:hover,
.header-menu-profile:hover,
.header-menu-profile-dropdown-options a:hover,
.header-menu-mobile-items:hover,
.footer-links a:hover {
    color: #1ed760;
}

.header-menu-separator {
    background-color: white;
    width: 0.1rem;
    height: 1.5rem;
    margin: 1rem;
}

.header-menu-profile {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
}

.header-menu-profile img {
    border-radius: 50%;
    width: 4.5rem;
}

.header-menu-profile-title i {
    font-size: 1.3rem;
    margin-left: 1.5rem;
}

.header-menu-profile-dropdown-options {
    position: absolute;
    background-color: #fff;
    margin: 1rem 0 0;
    border-radius: 3px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .2);
    padding: 1rem 8rem 2rem 2rem;
}

.header-menu-profile-dropdown-options::before {
    content: "";
    position: absolute;
    top: -12px;
    right: 0.5rem;
    width: 0px;
    height: 0px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #fff;
}

.header-menu-profile-dropdown-options li {
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.header-menu-profile-dropdown-options li a {
    color: #000;
}

.header-menu-profile-dropdown-options li:last-child a {
    color: rgb(185, 184, 184);
}

.header-menu-mobile-btn {
    display: none;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 3rem;
    align-items: center;
    gap: 2rem;
}

.header-menu-mobile-btn img {
    width: 3.5rem;
    border-radius: 50%;
}

.header-menu-mobile-container {
    background-color: #000;
    position: absolute;
    right: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.header-menu-mobile-container li {
    padding-top: 5rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.header-menu-mobile-items {
    color: #fff;
}

.header-menu-mobile-items.off {
    color: #ccc;
    font-weight: 400;
    font-size: 3rem;
}

.header-menu-mobile-separator {
    background-color: white;
    width: 0.1rem;
    height: 1.5rem;
    transform: rotate(90deg);
    margin: 0 auto;
}

.section-promo {
    background-color: rgb(255, 205, 210);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #D83519;
    padding: 13.3rem 0 13.2rem 0;
    height: 85vh;
}

.section-promo-title {
    padding-top: 4.8rem;
}

.section-promo-title h1 {
    font-size: 8rem;
    text-transform: capitalize;
    font-weight: 700;
}

.section-promo-button {
    margin: 5rem 0;
}

.section-promo-button a {
    background-color: #D83519;
    border-radius: 10rem;
    font-size: 1.5rem;
    padding: 1.5rem 3rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    will-change: box-shadow, transform;
}

.section-promo-button a:hover {
    background-color: #AA2A14;
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px,
                rgba(45, 35, 66, 0.2) 0 7px 13px -3px,
                rgba(0, 0, 0, 0.1) 0 -3px 0 inset;
    transform: translateY(-2px);
}

.section-promo-desc p {
    font-size: 1.8rem;
    text-align: center;
}

.section-player {
    background-color: rgb(41, 65, 171);
    background-image: url(../assets/circles.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    color: #1ed760;
    height: 85vh;
}

.section-player-article {
    display: inline-flex;
    flex-direction: column;
    padding: 10rem;
}

.section-player-title h1 {
    font-size: 5rem;
}

.section-player-desc p {
    font-size: 2rem;
    margin: 5rem 0;
}

.section-player-button a {
    background-color: #1ed760;
    border-radius: 10rem;
    font-size: 1.5rem;
    padding: 1.5rem 3rem;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(41, 65, 171);
    will-change: box-shadow, transform;
}

.section-player-button a:hover {
    background-color: #2DE26D;
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px,
                rgba(45, 35, 66, 0.2) 0 7px 13px -3px,
                rgba(0, 0, 0, 0.1) 0 -3px 0 inset;
    transform: translateY(-2px);
}

footer {
    background-color: #000;
    color: #fff;
    padding: 6rem;
}

.footer-logo {
    position: absolute;
}

.footer-logo img {
    width: 15rem;
    height: 6rem;
}

.footer-links {
    display: flex;
    gap: 5rem;
    padding: 3.7rem 15rem;
}

.footer-links dl dt {
    padding-bottom: 2rem;
    color: #919496;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: .08em;
}

.footer-links dl dd a {
    font-size: 1.6rem;
    line-height: 2.5;
    letter-spacing: 0.08em;
    text-transform: capitalize;
    color: #fff;
}

.footer-social {
    position: absolute;
    right: 6rem;
}

.footer-social ul {
    display: flex;
    gap: 1rem;
}

.footer-social ul li a {
    background-color: #222326;
    color: #fff;
    border-radius: 50%;
    padding: 1.5rem;
    font-size: 2rem;
}

.footer-location {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.footer-location a {
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 0.5;
}

.footer-location :nth-child(1) {
    color: #1ed760;
}
