body {
  text-align: center;
}

img {
  margin: 15px;
}

p {
  font-size: 32px;
}

.img-1 {
  width: 800px;
}

@media (max-width: 960px) {
  .img-1 {
    width: 550px;
  }
  p {
    font-size: 20px;
  }
}