/* desktop */
@media (min-width: 992px) {
    .header-menu-mobile-container {
        display: none !important;
    }
}

/* laptop */
@media (max-width: 991.98px) {
    header {
        gap: 10rem;
    }

    .header-logo {
        width: 15rem;
    }

    .header-menu {
        display: none;
    }

    .header-menu-mobile-btn {
        display: flex;
    }

    .section-promo-title h1 {
        font-size: 6rem;
    }

    .section-player-article {
        padding: 6rem;
    }

    .section-player-title h1 {
        font-size: 3.5rem;
    }

    .footer-social ul {
        flex-direction: column;
        gap: 3.8rem;
    }
}

/* tablets */
@media (max-width: 767.98px) {
    .section-promo-title h1 {
        font-size: 4.2rem;
    }

    .section-promo-desc p {
        font-size: 1.3rem;
    }

    .section-player {
        background-position: 65% 55%;

    }

    .section-player-title h1 {
        font-size: 3.2rem;
    }

    .footer-logo {
        left: 1.5rem;
    }

    .footer-links {
        flex-direction: column;
        padding: 8.7rem 0;
    }


    .footer-social {
        left: 5rem;
    }

    .footer-social ul {
        flex-direction: row;
        gap: 1.3rem;
        position: relative;
        top: 70rem;
    }

    .footer-social ul li a {
        padding: 1rem;
        font-size: 1.2rem;
    }

    .footer-location {
        position: absolute;
        right: 2rem;
    }
}

/* mobile */
@media (max-width: 575.98px) {
    header {
        gap: 4rem;
    }

    .section-promo-title h1 {
        font-size: 3rem;
    }

    .section-player {
        background-image: url(/assets/circlesmob.svg);
        background-size: auto;
        background-position: 65% 55%;
        display: flex;
        align-items: center;
    }

    .section-player-article {
        text-align: center;
        padding: 15rem 2rem;
    }

    .section-player-button a {
        font-size: 1.2rem;
    }
}

/* special phones */
@media (max-width: 341.98px) {
    .section-promo-title h1 {
        font-size: 2.3rem;
    }

    .section-player-title h1 {
        font-size: 2.4rem;
    }

    .section-player-button a {
        font-size: 0.8rem;
    }
}